<select
  selectpicker="{ dropupAuto: false }"
  toggle-dropdown
  name="month"
  style="display: block !important;"
  ng-model="ngModel.month">
  <option value="0">Zero</option>
  <option value="1">One</option>
  <option value="2">Two</option>
</select>

<select
  selectpicker="{ dropupAuto: false }"
  toggle-dropdown
  name="month"
  style="display: block !important;"
  ng-model="ngModel.year">
  <option value="2015">2015</option>
  <option value="2016">2016</option>
  <option value="2017">2017</option>
</select>

